<div class="block block-subscribe">
    <div class="block-title">
        <strong><span><?php echo $this->__('Ask your question') ?></span></strong>
    </div>
    <form action="" method="post" id="fabacus-question">
		<div class="messages" id="disp-msg" style="display:none;"><div class="success-msg"><span>Your Question Has Been Submitted Successfully.</span></div></div>
        <div class="block-content">
            <div class="form-subscribe-header">
                <label for="fabacus-name"><?php echo $this->__('Name:') ?> <em style="color:red;">*</em></label>
            </div>
            <div class="input-box">
               <input type="text" name="name" id="fabacus-name" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Submit your question')) ?>" class="input-text required-entry" />
            </div>
            <div class="form-subscribe-header">
                <label for="fabacus-email"><?php echo $this->__('Email:') ?> <em style="color:red;">*</em></label>
            </div>
            <div class="input-box">
               <input type="text" name="email" id="fabacus-email" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Submit your question')) ?>" class="input-text required-entry validate-email" />
            </div>
            <div class="form-subscribe-header">
                <label for="fabacus-question"><?php echo $this->__('Question:') ?> <em style="color:red;">*</em></label>
            </div>
            <div class="input-box">
               <input type="text" name="question" id="fabacus-question" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Submit your question')) ?>" class="input-text required-entry" />
            </div>
            <div class="actions">
                <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Submit')) ?>" class="button"><span><span><?php echo $this->__('Subscribe') ?></span></span></button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
//<![CDATA[
    var formId = 'fabacus-question';
    var myForm = new VarienForm(formId, true);
    var postUrl = '<?php echo $this->getUrl("fabacus/index/submitdata") ?>';
    function doAjax() {
        if (myForm.validator.validate()) {
            new Ajax.Updater(
                { success:'formSuccess' }, postUrl, {
                    method:'post',
                    asynchronous:true,
                    evalScripts:false,
                    onComplete:function(request, json) {
                        //Element.hide(formId);
						if(request['transport']['responseText']==1)
						{
							Element.show('disp-msg');
							setTimeout(function() {
								Element.hide('disp-msg');
							}, 2500);
							$(formId).reset();
						}
                        Element.show('formSuccess');
					},
                    onLoading:function(request, json){
                        Element.show('formLoader');
                    },
                    parameters: $(formId).serialize(true),
                }
            );
        }
    }
    
    new Event.observe(formId, 'submit', function(e){
        e.stop();
        doAjax();
    });
//]]>
</script>